
*.txt
LojaRoupas/.vs/LojaRoupas/v16/.suo
LojaRoupas/LojaRoupas/obj/Debug/LojaRoupas.csprojAssemblyReference.cache
LojaRoupas/LojaRoupas/obj/Debug/LojaRoupas.csproj.FileListAbsolute.txt
LojaRoupas/LojaRoupas/obj/Debug/LojaRoupas.csproj.FileListAbsolute.txt
